*{
    margin:0px;
    padding:0px;
    
}
body
{
    font-family: 'Hind Siliguri', sans-serif;
}
.navbar
{
    display:flex;
    align-items:center;
    padding:20px;
}

nav
{
    flex:1;
    text-align: right;
}
nav ul 
{ 
       list-style: none;
        display: inline-block;
}
nav ul li 
{

    display:inline-block;
    padding: 10px;
}
nav ul li a
{
    
    text-decoration:none;
    color:#555;
}
.container
{
     max-width: 1300px;
    margin:auto; 
    padding-left:25px ;
    padding-right: 25px;

}
.row
{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}
.col-2
{
    max-width:50%;
    min-width:300px;

}
.col-2 img 
{   
    max-width:100%;
    padding:50px 0;

}
.col-2 h1 
{
    font-size:50px;
    line-height:60px;
    margin:25px 0;
}
.btn
{
    display:inline-block;
    background-color: #ff523b;
    color: #fff;
    padding:8px 30px;
    margin:30px 0;
    border-radius:50px;
    text-decoration:none;
    transition: 0.5s;
}
.btn:hover
{
    background-color: orangered;
}
header
{
 background:radial-gradient(#fff,#ffd6d6);
}
header .row
{

    margin-top: 70px;
}
/* <!-- ---------fetuer categores----------- --> */
.categories
{
    margin-top:70px;


}



.col-3
{
    flex-basis: 25%;
    min-width: 250px;
    margin-bottom:30px
}
.col-3 img{
    width:100%
}
/* =========================================== */
.smallContainer
{
    max-width:1080px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
    text-align:center;
}
.col-4
{
    flex-basis:20%;
    padding:10px;
    min-width:200px;
    margin-bottom:50px;
    transition:transform 0.5s;
}

.col-4 img
{
    margin:0px;
    width:100%
}
.title
{
    text-align:center;
    margin:0 auto 80px;
    position:relative;
    line-height:60px;
    color:#555;
}
.title::after
{
    content:'';
    background:#ff523b;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:47%;
    transform:translatex(-50) ;
    }
    .title1
{
    text-align:center;
    margin:0 auto 80px;
    position:relative;
    line-height:60px;
    color:#555;
}
.title1::after
{
    content:'';
    background:#ff523b;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:47%;
    transform:translatex(-50) ;
    }
    h4
    {
        color: #555;
        font-weight:normal;

    }
    .col-4 p
    {
        font-size:14px;

    }
    .rating .fa
    {
        color:goldenrod;
    }
    .col-4:hover
    {
        transform:translateY(-10px);  
         
    }
    .offer 
    {
     
        background:radial-gradient(#fff, #ffd6d6);
        margin-top: 80px;  
        padding:30px 0;

    }
    .offer img
    {
        padding:50px;
    }
    small
{
    color:#555
}

/* <!-- ============================================testmonial  ====================================== --> */
.testmonial
{
    padding-top:100px;

}
.testmonial .col-3
{
    text-align:center;
    padding:40px 20px;
    cursor:pointer; 
    transition:transform 0.8s;
    box-shadow:0 0 20px 20px rgba(0 , 0, 0, 0.1);

}
.testmonial .col-3:hover
{
    transform:translateY(-10px)
}
 
.testmonial .col-3 img
{
    width:50px;
    margin-top:20px;
    border-radius:50px;
}
.fa-quote-left
{
    font-size:34px;
    color:red;
}
.col-3 p
{
    font-size:12px;
    margin: 12px 0 ;
    color:#777;
}
.col-5
{
    width: 160px;
    cursor:pointer;
    filter:grayscale(100%);
}
.col-5:hover
{
    filter:grayscale(0);
}
/* ======================================================footer=================================================== */
footer
{
    background-color:#000;
    color:#8a8a8a;
    font-size:14px;
    padding:60px 0 20px;
}
footer p 
{
    color:#8a8a8a; 
}
footer h3
{
    color:#fff;
    margin-bottom:20px;
}
.footer-co1, .footer-col-2 ,.footer-col-3 ,.footer-col-4
{
    min-width:250px;
    margin-bottom:20px;

}
.footer-col-1
{
    flex-basis:30%;

}
.footer-col-2
{
    flex:1;
    text-align:center;
}
.footer-col-2 img
{
    width:180px;
    margin-bottom:20px;
}
footer-col-3 ,.footer-col-4
{
    flex-basis: 12%;
    text-align:center;

}
ul{
    list-style:none;
}
.app-logo
{
    margin-top:20px;
}
.app-logo img
{
    width:140px;
}
.copyright 
{
    text-align:center;
}
.menu-icon
{
    width:18px;
    margin-left:20px;
    display:none;
}
/* -----------media qeury for menue------------------ */
        @media only screen and (max-width:800px)
        {

                nav ul
                { 
                    position:absolute;
                    top:70px;
                    left:0px;
                    background:#333;
                    width:100%;
                    overflow:hidden;
                    transition:max-height 0.9s
                
            }

            nav ul li 
            {
                display:block;
                margin-right:50px;
                margin-top:10px;
                margin: 10px;
             
            }
            nav ul li a 
            {
                color:#fff;
            }
            .menu-icon
            {
                display:block;
                cursor:pointer;

            }
                
}
/* -----------media qeury for less than 600px ------------------ */
@media only screen and (max-width:600px)
{
    .row
    {
        text-align:center;
    }
    .col-2 , .col-3 ,.col-4 
    {
        flex-basis:100%;

    }






}